.header-list-text {
  color: rgb(250, 70, 70);
  font-size: 1.7rem;
}
/* h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  } */
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h5 {
  display: block;
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h6 {
  display: block;
  font-size: 0.67em;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.Postdetail-container {
  border: 1px black solid;
  border-top: transparent;
  border-bottom: transparent;
}
.post-image {
  width: 240px !important;
  height: 240px;
}
.ava-post {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.post-title {
  color: rgb(0, 36, 145);
  font-weight: 600;
  font-size: 1.3rem;
}
body {
  margin: 0 !important;
}

.post-container {
  border: 2px rgb(103, 1, 1) solid;
  border-bottom: transparent;
  border-top: transparent;
}
.cardpost-body {height: 300px;}

.second-list-responsive {
  border: transparent;
  width: 33%;
}

.main-post-responsive{
  width: 60%;
}

.post-detail-productlist{
  
  margin-left: auto;
  margin-right: auto;
 
}
.responsive-list {display: none;}

@media only screen and (max-width: 600px) {
  /* For tablets: */

  .second-list-responsive{
    width: 0 !important;
    display: none !important;
  }
  .main-post-responsive{
    width: 120vw !important;
  }
  .Postdetail-container {
    border: 0;
    padding: 0;
    margin: auto;
  }
.responsive-list {
  display: inherit;
}
}