@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

.icon-logo {
  height: 60px;

  width: 60px !important;

}

.icon-animation {
  transition-duration: 0.3s;
}

.icon-animation:hover {
  transform: scale(1.2);
}

.text-bigtitle {
  color: rgb(244, 0, 89);
  font-size: 2.5rem;
  font-weight: 700;
  font-family: 'Inter', sans-serif !important;
}
.box-shadow-1 {
  box-shadow: "0px 4px 4px 0px rgba(0, 0, 0, 0.25)";
}

.category-block {
  background-image: url("../../../public/Formbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-size: cover;
  width: 90%;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  
}
.notfound-text {
  font-size: 5rem;
  transition-duration: 0.3s;
  left: 50%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-top: 25%;
}

.notfound-text:hover {
  transform: scale(1.1);
}

* {
  font-family: "Montserrat", sans-serif;
}

/* -----------------------------------------------------------------paginate ---------------------------------------------------------------------------
 */

.pagination {
  height: 36px;
  margin: 18px 0;
  color: #850000;
  justify-content: center;
}

.pagination ul {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  margin-left: 0;
  color: #ffffff;

  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination li {
  display: inline;

  color: #850000;
}

.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  color: #850000;
  box-shadow: rgba(0, 0, 0, 0.612) 0px 7px 29px 0px;
  text-decoration: none;
  border: 1px solid #000000;
  border-left-width: 0;
}

.pagination a:hover,
.pagination .active a {
  background-color: #850000 !important;
  color: #ffffff !important;
}

.pagination a:focus {
  background-color: #850000 !important;
  color: #ffffff !important;
}

.active > .page-link {
  background-color: #850000 !important;
  color: #ffffff !important;
  border: 1px solid #fafafa !important;
}

.pagination .active a {
  color: #ffffff;
  background-color: #850000 !important;
  cursor: default;
  border: #000000;
}

.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
  color: #999999;
  background-color: transparent;
  cursor: default;
}

.pagination li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.pagination li:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.pagination-centered {
  text-align: center;
}

.pagination-right {
  text-align: right;
}

.pager {
  margin-left: 0;
  margin-bottom: 18px;
  list-style: none;
  text-align: center;
  color: #850000;
  *zoom: 1;
}

.pager:before,
.pager:after {
  display: table;
  content: "";
}

.pager:after {
  clear: both;
}

.pager li {
  display: inline;
  color: #850000;
}

.pager a {
  display: inline-block;
  padding: 5px 14px;
  color: #850000;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.pager a:hover {
  text-decoration: none;
  background-color: #f5f5f5;
}

.pager .next a {
  float: right;
}

.pager .previous a {
  float: left;
}

.pager .disabled a,
.pager .disabled a:hover {
  color: #999999;
}

/* end */



.responsive-carousel {
  height: 720px;
  object-fit: contain
}

@media only screen and (max-width: 600px) {
  /* For tablets: */

  .responsive-carousel {
    height: 360px;
  }
}

.fixed-noti {
         color: #fefefe;
        
              width: 250px;
            
              z-index: 3;
              background: #54545495;
              top: 1%;
              left: 86%;
             
              border-radius: 2%;
              border: 2px solid rgba(255, 255, 255, 0.795);
              padding: 1.5rem;
              font-family: 'Kanit', sans-serif !important;
              height: 140px;
            position: fixed !important;}
.phone {width: 60px;
  height: 60px;
  animation: spin 2.5s linear infinite;
}



.fixed-noti-2 {
  
  
       width: 350px;
     font-weight: 400 !important;
       z-index: 3;
       background-color :#000000a0;
       top: 20%;
       left: 80%;
       
       border: 4px solid #fc6363;
       padding: 1rem;
       font-family: 'Kanit', sans-serif !important;
       
       
     position: fixed !important;}

     @keyframes fixed-noti-2 {
      0%{color: #ffffff ;}
      50%{color: rgb(255, 66, 66);}
      100%{color: #ffffff;}
     }
 .fixed-noti-2-text {color: #ffffff;
  font-size: 1.2rem;
                     animation: fixed-noti-2 3s linear infinite;}
.gift {width: 140px;
      height: 110px;
       position: absolute;
      top: -78%;
      left: -18%;
    rotate: -30deg;
    animation: shake 2.5s linear infinite;}
   
@keyframes shake {
  0% {
    transform: scale(1);
    
  }
  50%{
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.z-1 {z-index: 1;}
.header {position: static !important;
         top: -10%;}


.phone-number {font-weight: 600 !important;
               color: #02e071 !important;
               font-size: 1.3rem !important;}
         /* -------------------------------------------------------------------------------------------------------- */
        
.post-image {
             object-fit: cover}
.cover {object-fit: contain;}

.noti-home-responsive {background-color: #000000da;
                       border: 1px solid lightcyan;
                       padding: 1rem;
                      display: none;}

  @media only screen and (max-width: 600px) {
  /* For tablets: */
  .noti-home-responsive{
    display: inherit;
  }
.fixed-noti {
  display: none;
}
.fixed-noti-2{
  display: none;
}
.responsive-noti {visibility: hidden;}
}
.responsive-noti {display: inherit;}